

.forgot-pass{
    background-color: white;
    padding:0 2%;
    width: 80vh;
   
    margin:auto;
    border-radius: 15px;
}


.forgot-pass img{
    position: relative;
    width:25%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);   
}

.forgot-pass .description{
 margin-top: 35%;
}

.forgot-pass button{
    width: 80%;
    margin-left: 10%;
    margin-top: 7%;
}

@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: scroll;
}
  }