

.sign-in{
    background-color: white;
    width: 80vh;
/*   
    position:absolute ;
    top: 50%;
     left: 50%;
    transform: translate(-50%,-50%); */
    border-radius: 15px;
    margin:auto;
}


.sign-in img{
    position: relative;
    width:25%;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    
}

.sign-in input
{
   width: 75%;
   margin:auto;
}

.sign-in .welcome{
    margin-top: 5%;
    margin-bottom: 10%;
}
.sign-in label{
    margin-left: 15%;
}

.sign-in .forgot{
    margin: 5%;
    display: flex;
    justify-content: center;
}


.sign-in button{
    width: 80%;
    margin-left: 10%;
    margin-top: 10%;
}

.sign-in .join
{
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
    
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(../img/desk.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
  }